<div [@routerTransition]>
  <app-page-header [heading]="'Clientes'" [icon]="'fa-edit'"></app-page-header>
  <div class="container">
    <div class="card-header" style="text-align: -webkit-center;">
      Clientes Registrados
    </div>
    <div class="card mb-3">
      <div class="card-body  table-responsive">
        <table class="card-body table table-hover">
          <thead>
            <tr>
              <th>Identificación</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <!-- <th>Teléfono</th> -->
              <th>Sexo</th>
              <th colspan="4">Acciones</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Identificación..." aria-label="Search"
                  [(ngModel)]="cliIdentificacion" />
              </th>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Nombre..." aria-label="Search" [(ngModel)]="cliName" />
              </th>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Apellido..." aria-label="Search"
                  [(ngModel)]="cliLastName" />
              </th>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Sexo..." aria-label="Search" [(ngModel)]="cliSex" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of customers | searchfilter: cliIdentificacion:cliName:cliLastName:cliSex; let i = index">
              <td>{{ item.person.identification }}</td>
              <td>{{ item.person.firstName }}</td>
              <td>{{ item.person.lastName }}</td>
              <td>{{ item.person.gender }}</td>
              <td>
                <div class="row ">
                  <button type="button" style="background: #1AB394; border-radius: 20px; color: white" (click)="open(content,'show', i)">
                    <i style="color: white" class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                      title="Detalle"></i>
                  </button>
                  <button type="button" style="background: #1AB394; border-radius: 20px; color: white" (click)="open(content,'edit', i)">
                    <i style="color: white" class="fa fa-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                      title="Editar"></i>
                  </button>
                  <button type="button" style="background: #1AB394; border-radius: 20px; color: white" (click)="onDelete(i)">
                    <i style="color: white" class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                      title="Eliminar"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row mb-3">
        <div class="col col-sm-8"></div>
        <div class="col col-sm-4 text-right" style="position: relative; top: 15px; ">
          <ngb-pagination [collectionSize]="70" [(page)]="defaultPagination" style="position: relative; right: 100px;"></ngb-pagination>
        </div>
      </div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title ">{{modalTitle}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <fieldset [disabled]="disabled">
          <div class="card mb-3">
            <div class="modal-body">
              <div class="row mb-3">
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="tipos">Identificación</label>
                    <input type="text" [(ngModel)]="client.person.identification" class="form-control" />
                  </div>
                </div>
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="tipos">Fecha de Nacimiento</label>
                    <input type="text" [(ngModel)]="client.person.birthDate" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="tipos">Nombre</label>
                    <input type="text" [(ngModel)]="client.person.firstName" class="form-control" />
                  </div>
                </div>
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="nombre">Apellidos</label>
                    <input type="text" [(ngModel)]="client.person.lastName" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="tipos">Banco</label>
                    <input type="text" [(ngModel)]="client.person.bankName" class="form-control" />
                  </div>
                </div>
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="nombre">Cuenta Bancaria</label>
                    <input type="text" [(ngModel)]="client.person.bankAccount" class="form-control" />
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="tipos">Sexo</label>
                    <select class="form-control" name="gender" [(ngModel)]="client.person.gender">
                      <option *ngFor="let sex of gender" [ngValue]="sex.name" [selected]="client.person.gender">{{
                        sex.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="tipos">Estado</label>
                    <select class="form-control" name="state" [(ngModel)]="client.state.id" (change)="loadmunicipality(client.state.id)">
                      <option *ngFor="let state of states" [ngValue]="state.id" [selected]="client.state.name">{{
                        state.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="municipality">Municipio</label>
                    <select class="form-control" name="municipality" [(ngModel)]="client.municipality.id" (change)="loadparish(client.municipality.id)">
                      <option *ngFor="let mun of municipalities" [ngValue]="mun.id" [selected]="client.municipality.name">{{
                        mun.name }}</option>
                    </select>
                  </div>
                </div>

                <div class="col col-sm-6">
                  <div class="form-group">
                    <label for="parish">Parroquia</label>
                    <select class="form-control" name="parish" [(ngModel)]="client.parish.id">
                      <option *ngFor="let parish of parishes" [ngValue]="parish.id" [selected]="client.parish.name">{{
                        parish.name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="modal-footer">
          <button style="border-radius: 20px" type="button" class="btn btn-danger" (click)="d('Cross click')"><i style="color: white"
              class="fa fa-close" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Cancelar"></i></button>
          <div *ngIf="submitType!='show'">
            <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                style="color: white" class={{modalIcon}} aria-hidden="true" data-toggle="tooltip" data-placement="top"
                title="Editar"></i></button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>