<div class="login-page">

    <br><br><br><br>
    <div class="container">
        <div class="row">

            <div class="col-md-1">
            </div>
            <div class="col-md-6" style="align-items: center;
            display: flex;">
                <div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center; margin-block-end: 30px;">
                            <img class="responsive" style="height:150px; width:300px" [src]="logo" alt="Logo" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p style="text-align: center; color:white; size:50px;text-shadow: 0 0 30px #ffffff; font-size: 28px">
                                Bienvenidos a {{name}}
                            </p>
                            <p style="text-align: center; color:white; size:50px;text-shadow: 0 0 30px #ffffff; font-size: 24px">
                                Nuestros servicios al alcance de un click. <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="ibox-content">
                    <div class="row justify-content-center">
                        <div class="col-12 mx-auto text-center">
                            <h3 style="font-family:Verdana">INICIAR SESIÓN</h3>
                        </div>
                    </div>
                    <form class="m-t" role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="login-form">
                        <div style="margin-top: 20px" class="form-group" [ngClass]="{ 'has-error': f.submitted && !usuario.valid }">
                            <label class="sr-only" for="username">Email</label>
                            <input type="text" name="username" placeholder="Email" style="color: #000000; border: 1px solid #000000;" class="form-username form-control"
                                [(ngModel)]="usuario.username" #username="ngModel" required id="username">
                            <div *ngIf="f.submitted && !username.valid">Ingrese Email</div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <label class="sr-only" for="password">Contraseña</label>
                            <input type="password" name="password" placeholder="Contraseña" style="color: #000000; border: 1px solid #000000;"
                                class="form-password form-control" [(ngModel)]="usuario.password" ng-minlenght="3"
                                #password="ngModel" required id="password">
                            <div *ngIf="f.submitted && !password.valid">Ingrese Contraseña</div>
                        </div>
                        <button style="background-color:#1ab394;  border-color: #1ab394;" type="submit" class="btn btn-primary block full-width m-b" 
                            ng-disabled="!usuario.username || !usuario.password">Iniciar Sesion</button>

                        <a href="#">
                            <small>¿Has olvidado tu contraseña?</small>
                        </a>
                        <br />
                        <br />
                        <p class="text-muted text-center" style="color:black">
                            <small>¿Aún no tienes una cuenta?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" style=" border-color: #1ab394;" routerLink="/suscribir">Subcribirse</a>
                    </form>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>

<!--
<div class="form-bottom">
    <form role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="login-form">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !usuario.valid }">
            <label class="sr-only" for="username">Usuario</label>
            <input type="text" name="username" placeholder="Username..." class="form-username form-control"
                [(ngModel)]="usuario.username" #username="ngModel" required id="username">
            <div *ngIf="f.submitted && !username.valid">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label class="sr-only" for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Password..." class="form-password form-control"
                [(ngModel)]="usuario.password" ng-minlenght="3" #password="ngModel" required id="password">
            <div *ngIf="f.submitted && !password.valid">Password is required</div>
        </div>
        <button type="submit" class="btn" [routerLink]="['/dashboard']" ng-disabled="!usuario.username || !usuario.password">Sign
            in!</button>
        <a class="" href="">Forgot your password?</a>
    </form>
-->