.btn-register {
    float: right;
    position: relative;
    bottom: 0px;
    right: 10px;
}

.ignus-color {
    background-color: #17A185;
  }
  .ignus-color2 {
    background-color: #1AB394;
  }
  
  .ignus-colorgris{
    background-color: #AEAEAE;
  
  }
  .ignus-colorgris2{
    background-color: #676A6C;
  }
  
  // .btn-ignus,.active{
  //   color: #fff;
  //   //background-color: #17A185;
  //   border-color: #AEAEAE;
  // }
  
  // .btn-ignusgris{
  //   color: #fff;
  //   background-color: #AEAEAE;
  //   border-color: #AEAEAE;
  // }