<!--Transacciones-->

<br>
<div class="row">
  <div class="col-12 col-md-8 col-sm-12">
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align: center;">
          <div class="btn-group ">
            <div class="btn btn-ignusgris" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false" style="color: #fff; background-color: #AEAEAE; border-color: #AEAEAE;">
              Anterior
            </div>
            <div class="btn btn-ignus" mwlCalendarToday [(viewDate)]="viewDate" style="color: #fff; background-color: #17A185; border-color: #AEAEAE;">
              Hoy
            </div>
            <div class="btn btn-ignusgris" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false"
              style="color: #fff; background-color: #AEAEAE; border-color: #AEAEAE;">
              Siguiente
            </div>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align: center;">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [locale]="locale" [refresh]="refresh"
          [events]="events" (eventClicked)="handleEvent('Clicked', $event.event)" (dayClicked)="dayClicked($event.day)"
          [excludeDays]="excludeDays">
        </mwl-calendar-month-view>
        <!--  (beforeViewRender)="beforeMonthViewRender($event)" -->
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 col-sm-12" style="padding: 0; padding-right: 1px">
    <div class="card" style="height: 97.5%;">
      <div class="card-header text-center">
        <h3>Proximos Eventos</h3>
      </div>
      <div class="card-body" style="padding: 0.7rem">
        <div *ngFor="let li of listScheduler">
          <div class="row">
        <div class="col-12 col-md-4" style="padding: 0.3rem;">
          <div class="col-12">
              {{li.dateAppointmentEU}}
          </div>
        <div class="col-12" *ngIf="li.turn=='AM'">
            Mañana
        </div>
        <div class="col-12" *ngIf="li.turn=='PM'">
            Tarde
        </div>
          </div>
          <div class="col-12 col-md-6" style="padding: 0.3rem;">
              {{li.title}}
            </div>
            <div class="col-12 col-md-2" style="padding: 0.3rem;">
                <button type="button" style="background: #1AB394; border-radius: 20px;  color: white">
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button>
              </div>
            </div>
            <hr style="height: 5px; width: 100%; background-color: #1AB394;">
            </div>  
              
      </div>
    </div>

  </div>
  <br>
  <div class="col-12 col-md-6">

    <div class="card-header" style="text-align: -webkit-center; background: #1AB394;">
      Transacciones
    </div>

    <div class="card mb-3">
      <div class="card-body  table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th style="vertical-align: middle;">Tipo </th>
              <th style="vertical-align: middle;">Agente</th>
              <th style="vertical-align: middle;">Estado</th>
              <th style="vertical-align: middle;">Ver Detalle</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Tipo..." aria-label="Search" [(ngModel)]="rolTipoTrans" />
              </th>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Descripción..." aria-label="Search"
                  [(ngModel)]="rolDescriptionTrans" />
              </th>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Estado..." aria-label="Search" [(ngModel)]="rolEstadoTrans" />
              </th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let i= index; let transaccion of listTransacciones | searchfilter: transTipo:transDescription:transEstado"
              (click)="detTransaccion(transaccion)">
              <td>{{transaccion.typeService.name}}</td>
              <td>{{transaccion.employee.firstName}} {{transaccion.employee.lastName}}</td>
              <td>{{transaccion.status}}</td>

              <td>
                <!--
                <button type="button" style="background: #1AB394; border-radius: 20px;  color: white" (click)="open(modalTransacion)">
                  -->
                <button type="button" data-toggle="tooltip" data-placement="top" title="Detalle" style="background: #1AB394; border-radius: 20px;  color: white" (click)="onTransaction(i)">
                  <fa-icon [icon]="faEye"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>


  
  <!--Solicitudes-->
  <div class="col-12 col-md-6">

    <div class="card-header" style="text-align: -webkit-center; background: #1AB394;">
      Mis Solicitudes
    </div>
    <div class="card mb-3">
      <div class="card-body  table-responsive">
        <table class="card-body table table-hover">
          <thead>
            <tr>
              <th style="vertical-align: middle;">Fecha</th>
              <th style="vertical-align: middle;">Tipo</th>
              <th style="vertical-align: middle;">Estado</th>
              <th style="vertical-align: middle;">Ver Detalle</th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Fecha..." aria-label="Search" [(ngModel)]="soliDate" />
              </th>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Tipo..." aria-label="Search" [(ngModel)]="soliTipo" />
              </th>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Descripción..." aria-label="Search"
                  [(ngModel)]="soliDescription" />
              </th>
              <th style="background-color:transparent">
                <input class="form-control mr-sm-2" type="text" placeholder="Estado..." aria-label="Search" [(ngModel)]="soliEstado" />
              </th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let solicitud of listSolicitudes | searchfilter: soliDate:soliTipo:soliDescription:soliEstado; let i = index"
              (click)="detallesSolicitud(solicitud)">
              <td>{{solicitud.wishDate}}</td>
              <td>{{solicitud.typeService.name}}</td>
              <td>{{solicitud.status}}</td>
              <td>
                <button type="button" style="background: #1AB394; border-radius: 20px; color: white" (click)="open(modalSolicitud)">
                  <fa-icon [icon]="faEye"data-toggle="tooltip" data-placement="top" title="Detalle" ></fa-icon>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="row mb-3">
        <div class="col col-sm-8">
          <!--esta columna está vacia-->
        </div>
        <!--<div class="col col-sm-4 text-right" style="position: relative; top: 15px; ">
            <ngb-pagination [collectionSize]="70" [(page)]="defaultPagination" style="position: relative; right: 100px;"></ngb-pagination>
          </div>-->
      </div>
    </div>

  </div>
  <!--Fin Solicitudes-->
</div>

<!--Modal de transacciones-->
<ng-template #modalTransacion let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Detalles</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row">
    <div class="col-xl-6 text-xs-center">
      <div class="card-body">
        <div class="form-group">
          <label>Tipo: {{transaccionSelect.typeService.name}}</label>
        </div>
      </div>
    </div>

  </div>

  <div class="card-deck">
    <div class="card bg-default">
      <div class="card-body">
        <h2 class="text-center">Actividades</h2>
        <div class="row margen" *ngFor="let actividad of transaccionSelect.activities">
          <div class="col-md-6 text-left">{{actividad.name}}</div>
          <div class="col-md-6 text-right">
            <input *ngIf="actividad.status!='Espera'" name="actividad" type="checkbox" disabled checked />
            <input *ngIf="actividad.status=='Espera'" name="actividad" type="checkbox" disabled />
          </div>
          <br />
        </div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <div class="card-deck">
    <div class="card bg-default">
      <div class="card-body ">
        <h2 class="text-center">Recaudos</h2>
        <div class="row margen" *ngFor="let recaudo of transaccionSelect.requirements">
          <div class="col-md-6 text-left">{{recaudo.name}}</div>
          <div class="col-md-6 text-right">
            <input *ngIf="recaudo.status!='Espera'" name="recaudo" type="checkbox" disabled checked />
            <input *ngIf="recaudo.status=='Espera'" name="recaudo" type="checkbox" disabled />
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<!--Fin modal de transacciones-->

<!--Modal solicitudes-->
<ng-template #modalSolicitud let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title">Detalles</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xl-6 text-xs-center">
        <div class="card-body">
          <div class="form-group">
            <label>Fecha: </label>
            <input disabled="" [(ngModel)]="solicitudSelect.wishDate" type="text" name="fecha" ng-model="fecha" class="form-control" />
          </div>
        </div>
      </div>
      <div class="col-xl-6 text-xs-center">
        <div class="card-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input disabled="" [(ngModel)]="solicitudSelect.typeRequest.name" type="text" name="nombre" ng-model="nombre"
              class="form-control" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 text-xs-center">
        <div class="card-body">
          <fieldset class="form-group">
            <label>Descripcion</label>
            <textarea disabled="" [(ngModel)]="solicitudSelect.typeRequest.description" class="form-control" name="descripcion"
              ng-model="descripcion" rows="3"></textarea>
          </fieldset>
        </div>
      </div>

      <div class="col-xl-6 text-xs-center">
        <div class="card-body">
          <fieldset class="form-group">
            <label>Estatus</label>
            <input disabled="" [(ngModel)]="solicitudSelect.status" type="text" name="status" ng-model="status" class="form-control" />
          </fieldset>
        </div>
      </div>
    </div>


  </div>

</ng-template>

<!--Fin Modal solicitudes-->


<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 id="dialog-nested-name1" class="modal-title pull-left"><strong>Detalle de la cita</strong></h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hidePrentModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div *ngIf="viewData" class="modal-body">
              <div class="row mb-3">
                  <div class="col-md-6">
                      <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">
                          <strong>Nombre y Apellido: </strong>{{data.Request.client.firstName}}
                          {{data.Request.client.lastName}}
                      </label>
                  </div>
                  <div class="col-md-6">
                      <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">
                          <strong>Cedula de Identidad: </strong>{{data.Request.client.identification}}</label>
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-md-6">
                      <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">
                          <strong>Motivo de la cita : </strong>{{data.reason}}
                      </label>
                  </div>
                  <div class="col-md-6">
                      <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">
                          <strong>Estatus de la cita: </strong> {{data.statusStr}}</label>
                  </div>
              </div>

              <div class="row mb-3">
                  <div class="col-md-6">
                      <label *ngIf="data.turn=='PM'" class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">
                          <strong>Bloque de hora de cita: </strong> Tarde
                      </label>
                      <label *ngIf="data.turn=='AM'" class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">
                              <strong>Bloque de hora de cita: </strong> Mañana
                      </label>
                  </div>
                  <div class="col-md-6">
                      <label class="control-label col-md-12 col-md-4 col-xs-12" style="position: relative; right: 0.6rem;">
                              <strong>Tipo de la cita: </strong> {{data.typeAppointment.name}}</label>
                  </div>
              </div>


          </div>
      </div>
  </div>
</div>