<div>
  <app-page-header [heading]="'Estatus de Transacciones'" [icon]="'fa-edit'"></app-page-header>
  <div class="container">
  <hr>
  </div>

  <div class="container">
    <div class="card-header" style="text-align: -webkit-center;">
      Seguimiento
    </div>
    <div class="card mb-3">
      <div class="row mb-3">
        <div class="col col-sm-4" style="position: relative; top: 15px;">
            <label>Mostrar 
              <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> entradas
            </label>
        </div>
        <div class="col col-sm-4" style="position: relative; top: 15px;">
          <div class="input-group" style="align-content: center;">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
            <span class="input-group-btn">
            <button style="background: #1AB394; border-radius: 100%; font-size:24px; height: 40px; width: 40px;">
              <i style="color: white" class="fa fa-search" aria-hidden="true"></i>
            </button>
            </span>
          </div>
        </div>
      </div>
      <div class="card-body  table-responsive">
        <table class="card-body table table-hover">
          <thead>
            <tr>
              <th style="vertical-align: middle;">Nro de Transacción</th>
              <th style="vertical-align: middle;">Descripción</th>
              <th style="vertical-align: middle;">Estatus</th>
              <th style="vertical-align: middle;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <tr *ngFor="let seguimiento of seguimientos; let i = index" (click)="onEdit(i)"> -->
              <td>12343</td><!--{{ seguimiento.nroTransaccion}}-->
              <td>Compra de Casa en el Este de Barqto</td><!--{{ seguimiento.descripcion}}-->
              <td>Esperando Recaudos</td><!--{{ seguimiento.estatus}}-->
              <td>
                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                  (click)="Open()">
                   <fa-icon [icon]="faEye"></fa-icon> 
                </button>
              </td>
              <!--</tr>-->
            </tr>
          </tbody>
        </table>
      </div>
        <div class="row mb-3">
          <div class="col col-sm-8"><!--esta columna está vacia-->
          </div>
          <div class="col col-sm-4 text-right" style="position: relative; top: 15px; ">
            <!-- <ngb-pagination [collectionSize]="70" [(page)]="defaultPagination" style="position: relative; right: 100px;"></ngb-pagination> -->
          </div>
        </div>
    </div>
  </div>
</div>