<div [@routerTransition]>
    <app-page-header [heading]="'Reclamos'" [icon]="'fa-edit'"></app-page-header>
    <div class="container">

        <div class="card-header" style="text-align: -webkit-center;">Reclamos del Cliente</div>
     
      <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <label>Mostrar <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entradas</label>
                </div>
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
                        <span class="input-group-btn">
                            <button style="background: #1AB394; border-radius: 100%;font-size:24px; height: 40px; width: 40px;"><i
                                    style="color: white" class="fa fa-search" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Buscar"></i></button>
                        </span>
                    </div>
                </div>

                <div class="col col-sm-4 text-right">
                    <button style="position: relative; top: 15px; right: 15px; height: 40px; width: 40px; background: #1AB394; border-radius: 100%;font-size:24px; "
                         ><i style="color: white" class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar"></i></button>
                </div>
            </div>
            <div class="card-body  table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Reclamos</th>
                            <th> Estatus </th>
                            <th colspan="4">ver detalles</th>
                        </tr>
                    </thead>
                   
                </table>
            </div>
        </div>
        </div>
        
<!--Contenido -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title ">Crear Reclamo</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
      
        <div class="modal-footer">
            <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                    style="color: white" class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </ng-template>

        </div>