<div class="row" style="margin-top: 15px;">
  <div class="col-12 col-lg-12">
    <div class="form-group">
      <div class="card-header" style="text-align: -webkit-center; margin-block-end: 25px;">
        Transacción
      </div>
      <select class="form-control" name="transaction" id="transaction" [(ngModel)]="perfil.transaction" transaction="ngModel"
        (change)="dataChanged($event)">
        <option *ngFor="let t of transactions" [value]="t.id">{{t.nameForClient}}</option>
      </select>
    </div>
  </div>
</div>

<div class="cliente" style="padding:0; margin:0;" *ngIf="calendar">
  <div class="card-deck">
    <div class="card bg-default" style=" border-style: groove; border-color: rgb(11, 175, 140);">
      <div class="card-body text-center">
        <div class="card-header" style="text-align: -webkit-center; background: #1AB394;">
          Actividades
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td>Estado</td>
                <td>Actividad</td>
                <td>Fecha</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listAct of transaction.activities" name="actividad" id="actividad">
                <td><img src="assets/images/{{listAct.status}}.png" style="width: 50px; height: 50px;"></td>
                <td>{{listAct.name}}</td>
                <td>{{listAct.reviewDate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card bg-default">
      <div class="card-body text-center" style=" border-style: groove; border-color: rgb(11, 175, 140);">
        <div class="card-header" style="text-align: -webkit-center; background: #1AB394;">
          Recaudos
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <td>Estado</td>
                <td>Recaudo</td>
                <td>Fecha</td>
                <td>Accion</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listReq of transaction.requirements">
                <td><img src="assets/images/{{listReq.status}}.png" style="width: 50px; height: 50px;"></td>
                <td><label for="exampleInputFile">{{listReq.name}}</label></td>
                <td><label for="exampleInputFile">{{listReq.reviewDate}}</label></td>
                <td>
                  <label *ngIf="listReq.status!='Aceptado'" for="tyfile"><i *ngIf="listReq.status!='Aceptado'" style="font-size: 25px;"
                      class="fa fa-cloud-upload" aria-hidden="true"></i></label>
                  <input *ngIf="listReq.status!='Aceptado'" type="file" id="tyfile" name="tyfile" (change)="onFileChangeRecaudo($event.target.files, listReq.id)">
                  <a [href]="listReq.urlFileRequirement" target="_blank" [download]="listReq.name"> <i class="fa fa-cloud-download"
                      *ngIf="listReq.urlFileRequirement" style="font-size: 25px;" aria-hidden="true"></i></a>
              <tr *ngIf="listReq.status=='Rechazado'" style="color:red;" colspan=4>{{listReq.observation}}</tr>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small teal pt-2" style="background-color:rgb(11, 175, 140); color: honeydew;">
  <div class=" text-center py-1">
    <h2>Leyenda</h2>
  </div>
  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid column -->
    <div class="col-md-12 mt-md-0 mt-3">
      <!-- Grid row -->
      <div class="row">
        <!-- Content -->
        <div class="col-md-4 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold" style="color:white;">Aceptado</h5>
          <p><img src="assets/images/Aceptado.png" alt="" style="width: 100px; height: 100px;"></p>
        </div>
        <div class="col-md-4 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">En Espera</h5>
          <p><img src="assets/images/Espera.png" alt="" style="width: 100px; height: 100px;"></p>
        </div>
        <div class="col-md-4 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Rechazado</h5>
          <p><img src="assets/images/Rechazado.png" alt style="width: 100px; height: 100px;" p>
        </div>
      </div>
      <!-- Grid row -->
    </div>
    <!-- Grid column -->
    <hr class="clearfix w-100 d-md-none pb-3">
    <!-- Grid column -->
  </div>
  <!-- Footer Text -->
</footer>
<!-- Footer -->