<div [@routerTransition] class="card">
    <app-page-header [heading]="'Solicitud de Servicio'" [icon]="'fa-edit'"></app-page-header>
    <div class="card-header" style="text-align: -webkit-center;">Solicitudes</div>
    <tabset #tabset>
        <tab heading="Datos" id="first">

            <div class="card-body">
                <div class="form-control">
                    <div class="col-md-6">
                        <label>Tipo de Servicio</label>
                        <select class="form-control" [disabled]="lock" name="typeservice" id="typeservice" [(ngModel)]="solicitud.TypeServiceId"
                            (change)="changeservice()">
                            <!-- <option selected [value]="">Seleccione...</option> -->
                            <option *ngFor="let type of typeService" [value]="type.id">{{type.name}}</option>
                        </select>
                    </div>
                </div>

                <br>
                <div class="form-control">
                    <div class="row">
                        <div class="col col-sm-4">
                            <div class="form-group">
                                <b><label>Inmueble</label></b>
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <div class="row" *ngIf="buscar">
                                <div class="col-12 col-md-6"></div>
                                <div class="col col-md-4 col-sm-9">
                                    <input [disabled]="lock" class="form-control mr-sm-2" id="search" type="text" placeholder="Buscar..."
                                        aria-label="Search" [(ngModel)]="search">
                                </div>
                                <div class="col col-md-2 col-sm-3">
                                    <button  [disabled]="lock" (click)="searchPropertyId()" style="background: #1AB394; border-radius: 100%;font-size:24px; height: 40px; width: 40px;">
                                        <i style="color: white" class="fa fa-search" aria-hidden="true" data-toggle="tooltip"
                                            data-placement="top" title="Buscar"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col col-sm-4">
                            <div class="form-group">
                                <label for="typeproperty">Tipo de Inmueble</label>
                                <select class="form-control" name="typeproperty" id="typeproperty" [(ngModel)]="solicitud.typeProperty"
                                    #typeproperty="ngModel" [disabled]="lock" (change)="loadSpecifications(solicitud.typeProperty)">
                                    <option *ngFor="let tp of typeProperties" [value]="tp.id">{{tp.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <tabset id="tabspecification" *ngIf="activatespecifications==true">

                        <tab *ngFor="let te of solicitud.typeSpecifications" [heading]="te.name" [id]="te.id">
                            <br>
                            <div class="row">
                                <div class="col-12 col-xs-12 col-sm-6 col-md-4" *ngFor="let esp of te.specifications_number"
                                    [id]="esp.id">
                                    <div class="form-group">
                                        <label class="ng-tns-c12-9 col-8" [for]="esp.name">{{esp.name}}: </label>
                                        <input [type]="esp.typeInput" [disabled]="lock" [name]="esp.name" min=0
                                            [(ngModel)]="esp.quantity"><br>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                    <div class="col-12 col-xs-12 col-sm-6 col-md-4" *ngFor="let esp of te.specifications_checkbox" >
                                        <div class="form-group row">
                                            
                                            <label class="form-check-label col-8">{{esp.name}} : </label>
                                            <label class="switch" for="exampleCheck-{{esp.id}}">
                                                
                                                <input id="exampleCheck-{{esp.id}}" type="checkbox"
                                                 [value]="esp.quantity" [(ngModel)]="esp.quantity" [disabled]="lockcheck">
                                                    
                                                <div class="slider round"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                        </tab>
                        <tab heading="Ubicacion" id="u">
                            <div class="row">
                                <div class="col col-sm-12">
                                    <div class="row">
                                        <div class="col col-sm-8">
                                            <div class="form-group">
                                                <b><label>Ubicacion</label></b>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6">
                                            <div class="form-group">
                                                <label for="tipos">Estado</label>
                                                <select class="form-control" name="state" id="state" [disabled]="lock"
                                                    [(ngModel)]="solicitud.state" #estado="ngModel" (change)="loadmunicipality(solicitud.state)">
                                                    <option *ngFor="let est of states" [value]="est.id">{{est.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6">
                                            <div class="form-group">
                                                <label for="municipality">Municipio</label>
                                                <select class="form-control" name="municipality" id="municipality"
                                                    [(ngModel)]="solicitud.municipality" [disabled]="lock"
                                                    #municipality="ngModel" (change)="loadparish(solicitud.municipality)">
                                                    <option *ngFor="let mun of municipalities" [value]="mun.id">{{mun.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col col-sm-6">
                                            <div class="form-group"><label class="ng-tns-c12-9" for="parish">Parroquia</label>
                                                <select class="form-control" name="parish" id="parish" [disabled]="lock"
                                                    [(ngModel)]="solicitud.parish" required>
                                                    <option *ngFor="let parish of parishes" [value]="parish.id">{{parish.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col col-sm-6">
                                            <div class="form-group">
                                                <label for="buildDate">Fecha de Construcción</label>
                                                <input class="form-control" name="buildDate" id="buildDate" [bsConfig]="datePickerConfig"
                                                    [(ngModel)]="solicitud.buildDate" [disabled]="lock" #buildDate="ngModel" bsDatepicker> 
                                            </div>
                                        </div>
                                        <div class="col col-sm-12 form-group">
                                            <label class="ng-tns-c12-9" for="direccion">Dirección Exacta</label>
                                            <textarea class=" ng-untouched ng-pristine ng-valid" type="text" id="direccion"
                                                required style="width: 100%; height: 200px;" [disabled]="lock"
                                                [(ngModel)]="solicitud.ubication"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6" style="text-align: center; margin-top: 40px;">
                        <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white; margin-left: 20px;"
                            (click)="limpiar()">Limpiar</button>
                        <button type="button" class="btn btn-outline-secondary" style="margin-left: 30px; background: #1AB394; color: white; padding-right: 18px;"
                            (click)="siguiente()">Siguiente</button>
                    </div>
                </div>

            </div>
        </tab>

        <tab tab2 heading="Cita" id="second">
            <div class="card">
                <div class="row" style="margin-left: 15px;">
                    <div class="form-group col-md-4">
                        <label class="ng-tns-c12-9" for="employe">Empleados</label>
                        <select (ngModelChange)="selectAgente($event)" class="form-control" name="employee" id="employee"
                            required [(ngModel)]="solicitud.employeeId">
                            <option selected="true" value="">Seleccione...</option>
                            <option *ngFor="let emp of employes" [ngValue]="emp">{{emp.person.firstName}}
                                {{emp.person.lastName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4" style="min-width: 80px !important; min-height: 80px !important; margin-top: 3px; max-height: 80px !important;">
                        <img *ngIf="avatar" [src]="avatar" style="width: 80px;" class="img-responsive">
                    </div>
                    <div  class="col-md-4">        
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Leyenda</h4>
                            <p>Al seleccionar un empleado mostrara el calendario con sus respectivas citas</p>
                            <hr>
                            <p class="mb-0">1) Seleccione un dia disponible del calendario</p>
                            <p class="mb-0">2) Seleccione un turno disponible del calendario</p>
                            <p>Al confirmar el turno ya no volvera a poder seleccionar otra solicitud</p>
                        </div>
                    </div>
                </div>

                <div class="card-body" *ngIf="viewCalendar">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <div class="btn-group ">
                                <div class="btn btn-ignusgris" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                    (viewDateChange)="activeDayIsOpen = false" style="color: #fff; background-color: #AEAEAE; border-color: #AEAEAE;">
                                    Anterior
                                </div>
                                <div class="btn btn-ignus" mwlCalendarToday [(viewDate)]="viewDate" style="color: #fff; background-color: #17A185; border-color: #AEAEAE;">
                                    Hoy
                                </div>
                                <div class="btn btn-ignusgris" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                    (viewDateChange)="activeDayIsOpen = false" style="color: #fff; background-color: #AEAEAE; border-color: #AEAEAE;">
                                    Siguiente
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4" style="text-align: center;">
                            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div [ngSwitch]="view">
                        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [locale]="locale"
                            [refresh]="refresh" [events]="events" (beforeViewRender)="beforeMonthViewRender($event)"
                            (dayClicked)="dayClicked($event.day)" [excludeDays]="excludeDays">
                        </mwl-calendar-month-view>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6" style="text-align: center; margin-top: 40px;">

                            <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white; margin-left: 20px;"
                                (click)="anterior()">Anterior</button>
                            <button type="button" class="btn btn-outline-secondary" style="margin-left: 30px; background: #1AB394; color: white; padding-right: 18px;"
                                (click)="enviar()">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h6 id="dialog-child-name" class="modal-title pull-left">Seleccione un turno disponible</h6>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <div class="form-check">
                        <input [disabled]="dispAM" (change)="turnoAsignadoAM($event)" class="form-check-input" type="checkbox"
                            value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1" style="padding-right: 35px;">
                            Mañana
                        </label>
                    </div>
                    <div class="form-check">
                        <input [disabled]="dispPM" (change)="turnoAsignadoPM($event)" class="form-check-input" type="checkbox"
                            value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Tarde
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>