<div [@routerTransition]>

    <div class="container">
        <div class="card-header" style="text-align: -webkit-center; background: #1AB394;">
            Contacto
        </div>
        <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-12 text-right">
                    <button style="position: relative; top: 15px; right: 15px; height: 40px; width: 40px; background: #1AB394; border-radius: 100%;font-size:24px; "
                        (click)="open(content)"><i style="color: white" class="fa fa-plus" aria-hidden="true"
                            data-toggle="tooltip" data-placement="top" title="Agregar"></i></button>
                </div>
            </div>
            <div class="card-body  table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Tema</th>
                            <th> Estatus </th>
                            <th colspan="4">ver detalles</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Descripción..." aria-label="Search"
                                    [(ngModel)]="contDescripcion" />
                            </th>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Tema..." aria-label="Search"
                                    [(ngModel)]="contTema" />
                            </th>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Estatus..." aria-label="Search"
                                    [(ngModel)]="contEstatus" />
                            </th>
                        </tr>
                    </thead>
                    <tr *ngFor="let item of contacts | searchfilter: contDescripcion:contTema:contEstatus; let i=index "
                    (click)="onEdit(i)" >
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="open(ver)">
                                    <i style="color: white" class="fa fa-eye" aria-hidden="true" data-toggle="tooltip"
                                        data-placement="top" title="Detalle"></i>
                                </button>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="open(editar)">
                                    <i style="color: white" class="fa fa-edit" aria-hidden="true" data-toggle="tooltip"
                                        data-placement="top" title="Editar"></i>
                                </button>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="onDelete(i)">
                                    <i style="color: white" class="fa fa-trash" aria-hidden="true" data-toggle="tooltip"
                                        data-placement="top" title="Eliminar"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ver   -->
<ng-template #ver let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title ">Crear Contacto</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card mb-3">
        <div class="modal-body">
                <div class="row mb-3">
                        <div class="col col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-md-4 col-xs-12">Nombre:</label>
                                <input disabled type="text" name="name" [(ngModel)]="contact.name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-md-12 col-md-4 col-xs-12">Descripción:</label>
                                <textarea disabled class="form-control ng-untouched ng-pristine ng-valid" type="text" [(ngModel)]="contact.description"
                                    rows="5" required>
                                </textarea>
                            </div>
                        </div>
                    </div>
            <div class="row mb-3">
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-md-4 col-xs-12">Tipo de contacto:</label>
                        <input type="text" [(ngModel)]="contact.typeContact.name" class="form-control">
                    </div>
                </div>

                <div class="col col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-md-4 col-xs-12">Descripcióndel tipo de contacto:</label>
                        <input type="text" [(ngModel)]="contact.typeContact.description" class="form-control">
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <!-- <div class="modal-footer">
        <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                style="color: white" class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div> -->
</ng-template>

<!-- content   -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title ">Crear Contacto</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card mb-3">
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-md-4 col-xs-12">Tipos de Contacto:</label>
                        <select class="form-control" name="typeContact" id="typeContact" [(ngModel)]="TypeContactID"
                            #typecontact="ngModel">
                            <option *ngFor="let con of typeContact" [value]="con.id">{{con.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-md-4 col-xs-12">Tema:</label>
                        <select class="form-control" name="subject" id="subject" [(ngModel)]="SubjectId" #subject="ngModel">
                            <option *ngFor="let sub of subjectArray" [value]="sub.id">{{sub.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-md-4 col-xs-12">Titulo:</label>
                        <input type="text" name="name" [(ngModel)]="contact.name" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-12 col-md-4 col-xs-12">Descripción</label>
                        <textarea class="form-control ng-untouched ng-pristine ng-valid" type="text" [(ngModel)]="contact.description"
                            rows="5" required>
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                style="color: white" class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</ng-template>