<div class="catalogue">
    <div class="container animated fadeInRight">
        <div class="row">
            <div class="col-lg-12 text-center"><br>
                <div class="navy-line"></div>
                <h1>Promociones</h1>
                <p>Estos son los inmuebles de la promoción "{{ promotion.name }}"</p><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control input-search" placeholder="¿Que estás buscando?"> 
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button> 
                    </span>
                </div>
            </div>
        </div>
        <div class="row"><br>
            <div class="col-md-12">
                <div class="row" *ngFor="let property of properties | paginate: { itemsPerPage: 5, currentPage: pageActual }">
                    <div class="hr-line-dashed"></div>
                    <div class="search-result">
                        <h3><a href="#/propiedad/{{property.id}}">{{ property.nameDisplay }}</a></h3>
                        <a href="#/propiedad/{{property.id}}" class="search-link">www.inmobiliarium.com/propiedad/{{ property.id}}</a>

                        <p>
                           {{ property.ubication }} - {{ property.buildDate }}
                        </p>
                    </div><hr>
                </div>
                <hr>
                <div class="row">
                    <style>
                        .my-pagination /deep/ .ngx-pagination .current {
                            background: #1ab394;
                            align-items: center;
                        }
                    </style><br>
                    <div class="col-lg-4 col-lg-offset-4">
                        <pagination-controls 
                            class="my-pagination" 
                            responsive="true" 
                            previousLabel=" "
                            nextLabel=" " 
                            autoHide="true"
                            (pageChange)="pageActual = $event">
                        </pagination-controls>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>