<div class="container">
  <div class="row m-b-lg">
     <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Conocenos</h1>
        
        <br>
     </div> 
     <br>
     
     
     <div class="row">
        <div class="col-md-4">
           <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../assets/img/slider1.jpg" data-holder-rendered="true" img="reponsive thumbnail" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                 <h3 class="card-text "><a style="color:#1ab394">¿Quienes Somos?</a></h3>
                 <h5 class="card-text text-justify">
                   <span> <p > {{ agency.generalObjective }}</p></span>
                 </h5>
                 
              </div>
           </div>
        </div>
        <div class="col-md-4">
           <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../assets/img/slider3.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                  <h3 class="card-text"><a style="color:#1ab394">Misión</a></h3>
                  <h5 class="card-text text-justify">
                    <span> <p >{{ agency.mission }}</p></span>
                  </h5>
                 
              </div>
           </div>
        </div>
        <div class="col-md-4">
           <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../assets/img/slider2.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="card-body">
                  <h3 class="card-text"><a style="color:#1ab394">Visión</a></h3>
                  <h5 class="card-text text-justify">
                    <span> <p >{{ agency.vision }}</p></span>
                  </h5>
                
              </div>
           </div>
        </div>
     </div>
     <br>
     
  </div>
</div>
