<div [@routerTransition]>
    <app-page-header [heading]="'Asignar Promociones'" [icon]="'fa-edit'"></app-page-header>
    <div class="container">
        <div class="card-header" style="text-align: -webkit-center;">Promociones Asignadas</div>
        <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-12 text-right">
                    <button style="position: relative; top: 15px; right: 15px; height: 40px; width: 40px; background: #1AB394; border-radius: 100%;font-size:24px; "
                        (click)="open(content)"><i style="color: white" class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar"></i></button>
                </div>
            </div>
            <div class="card-body  table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Cantidad de Inmuebles</th>
                            <th>Estado de la Promoción</th>
                            <th colspan="4">Acciones</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Nombre..." aria-label="Search"
                                    [(ngModel)]="assName" />
                            </th>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Descripción..." aria-label="Search"
                                    [(ngModel)]="assDescription" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i=index; let item of promotionsFill | searchfilter: assName:assDescription | paginate: { itemsPerPage: numPage, currentPage: pages };  "
                            (click)="onEdit(i)">
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td style="text-align: center;">{{item.properties.length}}</td>
                            <td class="text-center">
                                <label class="switch" [for]="item.id">
                                    <input type="checkbox" [id]="item.id" [value]="item.bin_status" [(ngModel)]="item.bin_status"
                                        (change)="changeStatus(item)" checked />
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="open(ver)">
                                        <i style="color: white" class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Detalle"></i>
                                    </button>
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="open(editar)">
                                        <i style="color: white" class="fa fa-edit" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar"></i>
                                    </button>
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="onDelete(i)">
                                        <i style="color: white" class="fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-template #p="paginationApi" (pageChange)="pages=$event">
                <nav class="text-left" style="position: relative; left: 1.1rem;">
                    <ul class="pagination">
                        <li class="page-item" [class.disabled]="p.isFirstPage()">
                            <a class="page-link" (click)="p.previous()"> <span class="fa fa-angle-double-left"></span>
                            </a>
                        </li>

                        <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value" class="page-item"
                            [ngClass]="{'active' : p.getCurrent() === page.value}">
                            <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                {{ page.label }} </a>
                            <a class="page-link" *ngIf="p.getCurrent() === page.value"> {{ page.label }} </a>
                        </li>

                        <li class="page-item" [class.disabled]="p.isLastPage()">
                            <a class="page-link" (click)="p.next()"> <span class="fa fa-angle-double-right"></span> </a>
                        </li>
                    </ul>
                </nav>
            </pagination-template>
        </div>
    </div>
</div>

<!--Contenido -->
<ng-template #content let-c="close" let-d="dismiss">
    <tabset>
        <tab heading="Asignación por inmueble">
            <div class="modal-header">
                <h4 class="modal-title ">Asignar promociones por inmueble</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Agregar" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="tipos">Promociones</label>
                            <select name="nombreAgent" [(ngModel)]="id_promotion" (ngModelChange)="promotionChangedInmueble($event)"
                                class="form-control">
                                <option *ngFor="let list of promotions" [value]="list.id">
                                    {{list.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12" style="text-align: -webkit-center;">
                        <label for="tipos">Asignación de promociones por inmueble</label>
                    </div>
                </div>
                <div class="row  mb-3">
                    <div class="col-md-2"></div>

                    <div class="row col-md-8">
                        <div class="col-md-6" style="height: 150px; overflow-y: scroll;">
                            <bs-sortable [(ngModel)]="inmuebles" fieldName="ubication" itemClass="sortable-item"
                                itemActiveClass="sortable-item-active" placeholderItem="Arrastrar la inmueble aquí"
                                placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper">
                            </bs-sortable>

                        </div>
                        <div class="col-md-6" style="height: 150px; overflow-y: scroll;">
                            <bs-sortable [(ngModel)]="property" itemClass="sortable-item" itemActiveClass="sortable-item-active"
                                placeholderItem="Arrastrar la inmueble aquí" placeholderClass="sortable-item"
                                wrapperClass="sortable-wrapper">
                            </bs-sortable>
                        </div>
                    </div>

                    <div class="col-md-2"> </div>
                </div>
            </div>
            <div class="modal-footer">
                <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                        style="color: white" class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar"></i>
                </button>
            </div>
        </tab>
        <tab heading="Asignación por especificación">
            <div class="modal-header">
                <h4 class="modal-title ">Asignar promociones por especificación</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Editar">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <div class="row mb-3">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="tipos">Promociones</label>
                            <select name="nombreAgent" [(ngModel)]="id_promotion" (ngModelChange)="promotionChangedPromocion($event)"
                                class="form-control">
                                <option *ngFor="let list of promotions" [value]="list.id">
                                    {{list.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12" style="text-align: -webkit-center;">
                        <label for="tipos">Asignación de promociones por especificación</label>
                    </div>
                </div>

                <div class="row  mb-3">
                    <div class="col-md-2"></div>

                    <div class="row col-md-8">
                        <div class="col-md-6" style="height: 150px; overflow-y: scroll;">
                            <bs-sortable [(ngModel)]="specification" fieldName="name" itemClass="sortable-item"
                                itemActiveClass="sortable-item-active" placeholderItem="Arrastrar la especificación aquí"
                                placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper">
                            </bs-sortable>

                        </div>
                        <div class="col-md-6" style="height: 150px; overflow-y: scroll;">
                            <bs-sortable [(ngModel)]="specificationSelect" itemClass="sortable-item" itemActiveClass="sortable-item-active"
                                placeholderItem="Arrastrar la especificación aquí" placeholderClass="sortable-item"
                                wrapperClass="sortable-wrapper">
                            </bs-sortable>
                        </div>
                    </div>

                    <div class="col-md-2"> </div>
                </div>


            </div>

            <div class="modal-footer">
                <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                        style="color: white" class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar"></i>
                </button>
            </div>
        </tab>
    </tabset>

</ng-template>


<!--editar -->
<ng-template #editar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title ">Editar Promoción</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Nombre</label>
                    <input type="text" [(ngModel)]="assignpromotion.name" class="form-control" />
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="nombre">Descripción</label>
                    <input type="text" [(ngModel)]="assignpromotion.description" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                style="color: white" class="fa fa-edit" aria-hidden="true"></i></button>
    </div>
</ng-template>

<!--ver -->
<ng-template #ver let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title ">Promoción</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card mb-3">
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="tipos">Nombre</label>
                        <input type="text" [(ngModel)]="assignpromotion.name" class="form-control" />
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="nombre">Descripción</label>
                        <input type="text" [(ngModel)]="assignpromotion.description" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button style=" border-radius: 20px" type="button" class="btn btn-danger" (click)="c('Close click')"><i style="color: white"
                class="fa fa-close" aria-hidden="true"></i></button>
    </div>
</ng-template>