<div class="container loginColumns">
  <div class="col-md-6">
    <br/><br/>
    <a href="/"> <img class="responsive" style="height:150px; width:300px"src="../assets/img/logodark.png" alt="Logo"/></a>
    <br/><br/>
    <p>
      Bienvenidos a nuestro sistema. Al ingresar usted será participe del trámite de su gestión inmobiliaria. Para nosotros el inmueble no es un producto, es un patrimonio, por eso le brindamos la mejor asesoría.
    </p>
    
  </div>
  <div class="col-md-6">
    <div class="ibox-content">
      <form class="m-t" role="form" action="index.html">
          <div class="form-group">
              <input type="email" class="form-control" placeholder="Correo" required="">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Contraseña" required="">
          </div>
          <button type="submit" class="btn btn-primary block full-width m-b">Ingresar</button>

          <a href="#">
              <small>¿Has olvidado tu contraseña?</small>
          </a>
          <br/>
          <br/>
          <p class="text-muted text-center">
              <small>¿Aún no tienes una cuenta?</small>
          </p>
          <a class="btn btn-sm btn-white btn-block" routerLink="/suscribir">Registrate como usuario</a>
      </form>
    </div>
  </div>
</div>